/* Custom CSS for the home page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #c9c2af;
    color: #333;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

h5{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
    color: #272626;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Optional: Add styles for the navigation bar (uncomment if you're using the Navbar) */
/* 
.navbar {
    margin-bottom: 20px;
}
*/

/* Optional: Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-card {
    animation: fadeInUp 2s ease;
    background-color: #beae8f; /* Set a different background color */
    box-shadow: 0 4px 8px rgba(31, 15, 15, 0.1); /* Add a subtle box-shadow */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-img-top {
    
    width: 100%; /* Make the images fill the width of the card */
    height: 300px; /* Set the desired height for the images */
    object-fit: cover; /* Crop the images to fit the container */
    border-top-left-radius: 15px; /* Add rounded corners with a radius of 15 pixels */
    border-top-right-radius: 15px; /* Add rounded corners with a radius of 15 pixels */
}
.card {
    border-radius: 15px; /* Add rounded corners to the cards */
    margin: 1rem;

}

.main-content {
    padding: 20px; /* Adjust the value to set the desired padding */
    /* Or use margin instead, if you prefer */
}
.jumbotron {
    background-color: #251d1d; /* Replace this with your desired background color */
    font-family: 'Russo One', sans-serif; /* Replace 'Font Name' with the actual font name */
}
.jumbotron p {
    color: white; /* Set the text color for paragraphs inside the jumbotron */
    font-size: 2em;
}
.card-text {
    font-size: 24px; /* Adjust the value to set the desired font size */
}
.smaller-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio for the logo */
    
    padding: 10px;
    align-items: center; /* Center the logo vertically within the container */
}
.navbar-nav .nav-link {
    font-size: 24px; /* Adjust the font size as per your preference */

  }
  .navbar-nav .nav-item {
    margin-right: 10px; /* Adjust the margin value as per your preference */
    
    border-right: 1px solid #ccc; /* Add a 1px solid vertical line on the right side of each item except the last one */
  padding-right: 10px; /* Add some spacing between the text and the line */
    
  }
  
.footer {
    background-color: #000; /* Black background color for the footer */
    color: #fff; /* White text color for the footer content */
    padding: 20px 0; /* Add some padding for spacing */
  }
  
  .back-to-top {
    color: #fff; /* White text color for the link */
    text-decoration: none; /* Remove default underline */
  }
  
  .back-to-top:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  .content {
    flex-grow: 1;
  }
  .container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  .form-group {
    margin-bottom: 15px;
  
    font-size: 1.5em;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    appearance: none; /* Remove default select styles on certain browsers */
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .copy-text {
    cursor: pointer; /* Change the cursor to indicate clickable text */
  }
  
  .copy-text:hover {
    font-weight: bold; /* Make the text bold when hovering */
  }
  
  .copy-text:active {
    color: rgba(0, 26, 255, 0.192); /* Change the text color when clicked */
  }
  .event-date {
    font-size: 1.5em; /* Change the font size to your desired value (e.g., 20px) */
  }
  .event {
    padding-top: 3em; /* Add padding of 20 pixels to the top */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a.active {
    color: red; /* Change the color of the active link (highlighted) */
  }
  .navbar  {
    padding-right : 0;
  }